<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Nurse to Room</title>
</head>
<body>
    <h2>Assign Nurse To Room</h2>

    <form method="POST" action="{% url 'assign_nurse_to_room' %}">
        {% csrf_token %}

        <label for="nurse_id">Nurse SSN:</label><br />
        <input type="text" id="nurse_id" name="nurse_id" maxlength="11" required /><br /><br />

        <label for="room_number">Room Number:</label><br />
        <input type="number" id="room_number" name="room_number" required /><br /><br />

        <button type="submit">Assign Nurse</button>
    </form>

    <hr>

    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% elif error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
<p>
    <a href="{% url 'home' %}">
        <button type="button">Home</button>
    </a>
</p>

</html>
