<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complete Orders</title>
</head>
<body>
      <h2>Complete Orders</h2>
    <form method="POST" action="{% url 'complete_orders' %}">
        {% csrf_token %}

        <label for="num_orders">Number of Orders to Complete:</label>
        <br>
        <input type="number" id="num_orders" name="num_orders" required min="1">
        <br>
        <br>

        <button type="submit">Complete Orders</button>
    </form>

    {% if message %}
        <p style="color: black;">{{ message }}</p>
    {% elif error %}
        <p style="color: red;">{{ error }}</p>
    {% elif info %}
        <p style="color: green;">{{ info }}</p>
    {% endif %}
</body>
</html>