<!DOCTYPE html>
<html>
<head><title>Outstanding Charges</title></head>
<body>
<h1>Outstanding Charges</h1>

<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>SSN</th>
        <th>Funds</th>
        <th>Outstanding Charges</th>
        <th># Appointments</th>
        <th># Orders</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row.firstName }}</td>
        <td>{{ row.lastName }}</td>
        <td>{{ row.ssn }}</td>
        <td>{{ row.funds }}</td>
        <td>{{ row.OutstandingCharges }}</td>
        <td>{{ row.numAppts }}</td>
        <td>{{ row.numOrders }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
