<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Release Room</title>
</head>
<body>
    <h2>Release Room</h2>
    <form method="POST" action="{% url 'release_room' %}">
        {% csrf_token %}

        <label for="room_number">Room Number:</label>
        <br>
        <input type="number" id="room_number" name="room_number" required>
        <br>
        <br>

        <button type="submit">Release Room</button>
    </form>

    {% if message %}
        <p style="color: black;">{{ message }}</p>
    {% elif error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
<p>
    <a href="{% url 'home' %}">
        <button type="button">Home</button>
    </a>
</p>
</html>