<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove this Staff from Department</title>
</head>
<body>
      <h2>Remove Staff from Department</h2>
    <form method="POST" action="{% url 'remove_staff_from_dept' %}">
        {% csrf_token %}

        <label for="ssn">Staff SSN:</label>
        <br>
        <input type="text" id="ssn" name="ssn" maxlength="11" required>
        <br>
        <br>

        <label for="dept_id">Department ID:</label><br>
        <input type="number" id="dept_id" name="dept_id" required>
        <br>
        <br>

        <button type="submit">Remove from Department</button>
    </form>

    {% if message %}
        <p style="color: black;">{{ message }}</p>
    {% elif error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
<p>
    <a href="{% url 'home' %}">
        <button type="button">Home</button>
    </a>
</p>
</html>